
@tailwind base;
@tailwind components;
@tailwind utilities;

.img-mask{
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.bx-shadow{
    box-shadow: -10px -0px 20px rgba(196, 240, 240,0.5),
    50px 50px 20px rgba(196, 240, 240,0.5);
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #cecccc;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
   

  }